<br>
<div class="meinfo-content">
    <u><h3>माझ्याबद्दल माहिती</h3></u>
    <p>
        नमस्कार, माझे नाव ओमकार आहे. माझे वय ३० वर्षे आहे आणि मी उलवे नवी मुंबई येथे राहतो.
        माझा जन्म मुंबईत झाला आहे. आणि माझे बालपणही मुंबईतच गेले.
    </p>
    <p>
        माझ्याकडे मुंबई विद्यापीठातून BscIT पदवी आहे. 
        आणि मी CMSS मध्ये वरिष्ठ सॉफ्टवेअर अभियंता म्हणून काम करत आहे
    </p>
</div>
<br>
<div class="family-content">
    <u><h3>कौटुंबिक माहिती</h3></u>
    <p><b>वडीलांचे नाव</b><br>तुकाराम अनंथा डेरे</p>
    <p><b>आईचे नाव</b><br>शांता तुकाराम डेरे</p>
    <p><b>मूळ पत्ता </b><br>पो पडळी आले तालुका पारनेर जिल्हा अहमदनगर ४१४३०५.</p>
    <p><b>सध्याचा पत्ता</b><br>६०१, सी विंग शक्ती रेसिडेन्सी प्लॉट नं ६६ सेक्टर ५ उलवे नवी मुंबई ४१०२०६</p>
    <p><b>धर्म</b><br>हिंदू</p>
    <p><img class="whatsapp-icon" [src]=whatsappPath alt="Loadding..." (click)="openwhastapp()"><b>संपर्क क्रमांक</b><br>८९२८२८५०७२</p>
</div>
<br>
<div class="personal-content">
    <u><h3>वैयक्तिक माहिती</h3></u>
    <p><b>लिंग : </b>पुरुष</p>
    <p><b>वय : </b>३०</p>
    <p><b>धर्म : </b>हिंदू</p>
    <p><b>उंची : </b>5 फूट 10 इंच</p>
    <p><b>शिक्षण क्षेत्र : </b>विज्ञान</p>
    <p><b>भावंड : </b>धाकटी बहीण</p>
    <p><b>कुटुंबासह रहातो : </b>होय</p>
    <p><b>आहार  : </b>अधूनमधून मांसाहारी</p>
    <p><b>वैवाहिक स्थिती : </b>अविवाहित</p>
    <p><b>Work As : </b>Senior Software Engineer</p>
</div>
<br>
<div class="kundali-content">
    <u><h3>कुंडली तपशिल</h3></u>
    <p><b>रास : </b>मकर</p>
    <p><b>नाडी : </b>अंत्या</p>
    <p><b>नक्षत्र : </b>श्रावण</p>
    <p><b>जन्म तास : </b>२१ तास</p>
    <p><b>जन्म मिनिटे : </b>३३ मिनिटे</p>
    <p><b>जन्मस्थान : </b>मुंबई</p>
    <p><b>रक्त गट  : </b>B+</p>
</div>
<br>
<div class="favorites-content">
    <u><h3>आवडी</h3></u>
    <p><b>छंद : </b>वाचन, सायकल चालवणे, नवीन गोष्टी शिकणे</p>
    <p><b>स्वारस्य : </b>विज्ञान, खेळ, प्रवास, स्वयं-शिक्षण</p>
    <p><b>आवडते संगीत : </b>जुनी मराठी आणि हिंदी गाणी</p>
    <p><b>आवडते चित्रपट : </b>Advantures move</p>
    <p><b>आवडते खेळ : </b>Cricket</p>
    <p><b>आवडता पदार्थ : </b>महाराष्ट्रीयन जीवन</p>
    <p><b>ड्रेस कोड  : </b> - </p>
</div>